::before,
::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.summary-container {
    width: 1100px;
    height: 650px;
    /* background-color: pink; */
    display: flex;
    border-radius: 40px;
    box-shadow: 2px 5px 35px hsl(221, 29%, 75%);
}

.result-card {
    width: 50%;
    height: 100%;
    background: linear-gradient(hsla(252, 100%, 67%, 1) 5%, hsla(241, 81%, 54%, 1) 95%);
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Hanken Grotesk', sans-serif;
    color: white;
}

.txt-result {
    font-size: 25px;
}

.actual-result {
    height: 300px;
    width: 300px;
    background: linear-gradient(to top, hsla(252, 100%, 67%, 1) 5%, hsla(241, 81%, 54%, 1) 95%);      
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.actual-result > :nth-child(1) {
    font-size: 120px;
    margin: 0;
}

.actual-result > :nth-child(2) {
    font-size: 20px;
    margin: 0;
}

.txt-remark {
    font-size: 40px;
    margin: 0;
}

.txt-survey {
    font-size: 22px;
    font-weight: 500;
    margin: 0;
}

.summary-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding-left: 30px;
    font-family: 'Hanken Grotesk', sans-serif;
}

.txt-summary {
    margin: 0;
    color: hsl(224, 30%, 27%);
}

.category{
    width: 500px;
    height: 410px;
    margin-top: -0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-grade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.category-grade > p {
    font-size: 25px;
}

.category-symbol {
    display: flex;
    width: 170px;
}

.category-symbol > p{
    font-size: 25px;
}
.category-symbol > img {
    margin-right: 20px;
    width: 40px;
}

.btn-continue {
    width: 500px;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 20px;
    padding: 15px 0;
    border-radius: 50px;
    border: none;
    background-color: hsl(224, 30%, 27%);
    color: white;
}

.reaction1 {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.reaction2 {
    background-color: hsl(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.reaction3{
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.reaction4{
    background-color: hsl(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.num {
    color:hsl(224, 30%, 27%);
}

.num2 {
    color: hsl(225, 30%, 50%);
}

.txt-result, .txt-survey {
    opacity: 0.7;
}

.txt-total{
    opacity: 0.4;
}